.product-list {
    width: 90%;
    margin: auto;
    margin-top: 14vh;
}

.prod-img {
    width: 30px;
    height: 30px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

table {
    width: 100%;
}

.filter {
    display: flex;
}

.add-icon {
    margin-top: 2vh;
    margin-left: 1vw;
    width: 40px;
    height: 40px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.mat-mdc-header-row {
    background-color: rgb(66, 65, 65);
    color: white;
}

td {
    font-size: 16px;
}

.search-input {
    width: 20vw;
}

.mat-column-description {
    max-width: 20vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td.mat-column-description {
    max-width: 20vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
