.product-list {
    width: 90%;
    margin: auto;
    margin-top: 4vh;
}

.prod-img {
    width: 30px;
    height: 30px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

table {
    width: 100%;
}