ul {
  list-style: none;
  display: flex;
  gap: 3vh;
  justify-content: center;
  margin-top: 2vh;
  flex-wrap: wrap;
}

img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 1px rgb(156, 153, 153);
  margin-top: -2px;
}

.dropbtn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #000;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  border-radius: 50%;
  text-align: center;
  position: relative;
  display: inline-block;

  &:hover .dropdown-content {
    display: block;
  }

  &:hover .dropbtn {
    background-color: #746767;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;

    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: #ddd;
      }
    }
  }
}
