<div class="body">
  <div class="container">
    <div class="cover">
      <img src="assets/images/login.webp" alt="Side Image" />
    </div>
    <div class="forms">
      <div class="form-content">
        <div>
          <div class="title">Login</div>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()" action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fa-solid fa-envelope"></i>
                <input
                  type="email"
                  placeholder="Enter your email"
                  name="email"
                  class="ms-2"
                  formControlName="email"
                />
              </div>
              <div
                *ngIf="
                  loginForm.get('email').invalid &&
                  loginForm.get('email').touched
                "
                class="error-message"
              >
                <small>{{ getErrors("email") }}</small>
              </div>

              <div class="input-box">
                <i class="fa-solid fa-lock"></i>
                <input
                  type="password"
                  placeholder="Enter your password"
                  name="password"
                  formControlName="password"
                  class="ms-2"
                />
              </div>
              <div
                *ngIf="
                  loginForm.get('password').invalid &&
                  loginForm.get('password').touched
                "
                class="error-message"
              >
                <small>{{ getErrors("password") }}</small>
              </div>

              <a (click)="navigate('/auth/forgotPassword')" class="fp"
                >Forgot Password?
              </a>

              <div class="button input-box">
                <input type="submit" value="Login" />
              </div>

              <div class="text-center">
                <a (click)="navigate('/auth/signup')" class="newUser"
                  >New User? Create an Account</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
