<app-navbar></app-navbar>
<div class="body">
  <div class="container">
    <div class="forms">
      <div class="form-content">
        <div>
          <div class="title">
            {{ isEditingProduct ? "Edit Your Product" : "Upload Your Product" }}
          </div>

          <div class="input-boxes">
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
              <div class="drop">
                <label class="text1" for="category">Category</label><br /><br />
                <select
                  id="category"
                  formControlName="category"
                  class="form-control options"
                >
                  <option value="" disabled>Select Category</option>
                  <option
                    *ngFor="let category of categories"
                    [value]="category.name"
                  >
                    {{ category.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    productForm.get('category').invalid &&
                    productForm.get('category').touched
                  "
                >
                  <small>{{ getErrors("category") }}</small>
                </div>
              </div>

              <!-- Subcategory -->
              <div class="drop">
                <label class="text1" for="subcategory">Subcategory</label
                ><br /><br />
                <select
                  id="subcategory"
                  formControlName="subcategory"
                  class="form-control options"
                >
                  <option value="" disabled>Select Subcategory</option>
                  <option
                    *ngFor="let subcategory of subcategories"
                    [value]="subcategory"
                  >
                    {{ subcategory }}
                  </option>
                </select>
                <div
                  *ngIf="
                    productForm.get('subcategory').invalid &&
                    productForm.get('subcategory').touched
                  "
                >
                  <small>{{ getErrors("subcategory") }}</small>
                </div>
              </div>

              <div class="input-box">
                <input
                  placeholder="Product Name"
                  id="name"
                  formControlName="name"
                  required
                />
              </div>
              <div
                *ngIf="
                  productForm.get('name').invalid &&
                  productForm.get('name').touched
                "
              >
                <small>{{ getErrors("name") }}</small>
              </div>

              <div class="input-box">
                <input
                  placeholder="Price"
                  id="price"
                  formControlName="price"
                  required
                />
              </div>
              <div
                *ngIf="
                  productForm.get('price').invalid &&
                  productForm.get('price').touched
                "
              >
                <small>{{ getErrors("price") }}</small>
              </div>

              <div class="input-box">
                <input
                  placeholder="Discount"
                  id="discount"
                  formControlName="discount"
                  required
                />
              </div>
              <div
                *ngIf="
                  productForm.get('discount').invalid &&
                  productForm.get('discount').touched
                "
              >
                <small>{{ getErrors("discount") }}</small>
              </div>

              <div class="input-box">
                <input
                  type="number"
                  min="0"
                  placeholder="Quantity"
                  id="Quantity"
                  formControlName="Quantity"
                  required
                />
              </div>
              <div
                *ngIf="
                  productForm.get('Quantity').invalid &&
                  productForm.get('Quantity').touched
                "
              >
                <small>{{ getErrors("Quantity") }}</small>
              </div>

              <div class="input-box">
                <input
                  placeholder="Descripton (atleast 30 characters are required)"
                  id="description"
                  formControlName="description"
                  required
                />
              </div>
              <div
                *ngIf="
                  productForm.get('description').invalid &&
                  productForm.get('description').touched
                "
              >
                <small>{{ getErrors("description") }}</small>
              </div>

              <br />

              <label *ngIf="!isEditingProduct" for="coverImage" class="text"
                >Cover Image (Max size:5MB)</label
              >
              <div *ngIf="!isEditingProduct" class="upload-images">
                <label class="drop-container">
                  <input
                    id="coverImage"
                    type="file"
                    (change)="onCoverFileSelected($event)"
                    formControlName="coverImage"
                  />
                </label>
              </div>
              <div
                *ngIf="
                  productForm.get('coverImage').touched &&
                  productForm.get('coverImage').invalid
                "
              >
                <small>{{ getErrors("coverImage") }}</small>
              </div>
              <br />

              <label class="text">Additonal Images(Max size:5MB)</label>
              <div class="upload-images">
                <label for="images" class="drop-container">
                  <input
                    id="images"
                    type="file"
                    (change)="onFileSelected($event)"
                    multiple
                    accept="images/*"
                  />
                </label>
              </div>

              <div class="button input-box">
                <input
                  type="submit"
                  [value]="isEditingProduct ? 'Update' : 'Submit'"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
