<div class="body">
    <div class="container">
      <div class="cover">
        <img src="assets/images/login.webp" alt="Side Image" />
      </div>
      <div class="forms">
        <div class="form-content">
          <div>
            <div class="title">Forgot Password</div>
            
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fa-solid fa-envelope"></i>
                  <input
                    type="email"
                    placeholder="Enter your email"
                    name="email"
                    required
                    formControlName="email"
                    class="ms-2"
                  />
                 
                </div>
                <div class="error-message" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <small *ngIf="email.errors?.['required']">Email is required.</small>
                    <small *ngIf="email.errors?.['email']">Invalid email address.</small>
                  </div>
                  <p class="error-message" *ngIf="message">{{ message }}</p>
              
                <div class="button input-box">
                  <input type="submit" value="Submit"/>
                </div>
    
                <div class="text-center">
                  <a routerLink="/" href="" class="newUser">New User? Create an Account</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  </div>