<nav class="navbar navbar-dark navbar-bg">
    <div class="container-fluid">
      <a class="navbar-brand ms-4" href="#">ProductApp</a>
      <div>
        <a routerLink="/myListings" class="list-item me-4" *ngIf="isUserLoggedIn()">My Products</a>
        <app-profile *ngIf="isUserLoggedIn()"></app-profile>
        <a *ngIf="!isUserLoggedIn()" class="list-item me-4" routerLink="/login"><i class="fas fa-user me-2"></i>Login</a>
        <a *ngIf="!isUserLoggedIn()" class="list-item" 
        routerLink="/signup"><i class="fa-solid fa-user-plus me-2"></i>Signup</a>
      </div>
    </div>
</nav>
