<app-navbar></app-navbar>
<app-search (searchingData)="searchMyData($event)"></app-search>
<app-category-list (subcategorySelected)="onSubcategorySelected($event)"></app-category-list>

<div class="myList">
  <div *ngFor="let prod of allData" class="card list" style="width: 18rem">
    <img
      class="card-img-top myimg"
      [src]="getImageUrl(prod.coverImage)"
      alt="Card image cap"
    />
    <hr class="my-1" />
    <div class="card-body">
      <p class="card-title prodname">{{ prod.name }}</p>
      <p class="card-text des">{{ prod.description }}</p>

      <p class="card-text allprice">
        <span style="color: rgb(19, 110, 19) ;"><i class="fa-solid fa-arrow-down"></i></span
        ><span *ngIf="prod.discount > 0" class="discount">{{ prod.discount }}%</span
        ><span *ngIf="prod.discount > 0" class="price">{{ prod.price }}</span
        ><span *ngIf="prod.discount > 0" class="totalprice">{{ prod.price - (prod.price * (prod.discount/100)) }}</span>
      </p>

      <p class="sell">Sold by: {{prod.seller}}</p>
      <a href="#" class="btn btn-primary mybut">Buy</a>
    </div>
  </div>
</div>
