.myList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    margin-top: 2vh;
}

.list{
    margin: 0.5rem;
}

.card-img-top {
    height: 15rem;
    width: 15rem;
    margin: 1vh auto;
}

.card {
    box-shadow: 4px 6px 10px 4px rgba(197, 195, 195, 0.2);
}