<form (ngSubmit)="onSubmit(changePasswordForm)" #changePasswordForm="ngForm" >
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input
      required
      type="password"
      id="oldPassword"
      class="form-control"
      placeholder="Enter old password"
      name="oldPassword"
      [(ngModel)]="data.oldPassword"
      minlength="8" pattern='^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,}$'
      #oldPassword = "ngModel"
    />
  </div>
  <div *ngIf="oldPassword.invalid && oldPassword.touched" class="error-message">
    <small *ngIf="oldPassword.errors?.['required']">Password is required.</small>
    <small *ngIf="oldPassword.errors?.['pattern']">Password must contain uppercase ,lowercase and special characters.</small>
    <small *ngIf="oldPassword.errors?.['minlength']">Password must be at least 8 characters long.</small>
  </div>
  <div class="form-group mt-3">
    <label for="newPassword">New Password</label>
    <input
      required
      type="password"
      class="form-control"
      id="newPassword"
      placeholder="Enter new password"
      name="newPassword"
      [(ngModel)]="data.newPassword"
      minlength="8" pattern='^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,}$'
      #newPassword = "ngModel"
    />
  </div>
  <div *ngIf="newPassword.invalid && newPassword.touched" class="error-message">
    <small *ngIf="newPassword.errors?.['required']">Password is required.</small>
    <small *ngIf="newPassword.errors?.['pattern']">Password must contain uppercase ,lowercase and special characters.</small>
    <small *ngIf="newPassword.errors?.['minlength']">Password must be at least 8 characters long.</small>
  </div>
  <div class="form-group mt-3">
    <label for="confirmPassword">Confirm New Password</label>
    <input
      required
      type="password"
      class="form-control"
      id="confirmPassword"
      placeholder="Confirm new password"
      name="confirmPassword"
      [(ngModel)]="data.confirmPassword"
      minlength="8" pattern='^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,}$'
      #confirmPassword = "ngModel"
    />
  </div>
  <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="error-message">
    <small *ngIf="confirmPassword.errors?.['required']">Password is required.</small>
    <small *ngIf="confirmPassword.errors?.['pattern']">Password must contain uppercase ,lowercase and special characters.</small>
    <small *ngIf="confirmPassword.errors?.['minlength']">Password must be at least 8 characters long.</small>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Change Password</button>
</form>
